{% extends 'movies/layout.html' %}

{% block body %}
    <div id="posterBox">
        <div id="posterInnerBox">
            <div class="topInfoLeft">
                <div class="movieBanner"></div>
            </div>

            <div class="topInfoRight" style="margin-left: 100px;">
                <h1>{{ movie.name }}</h1>
            </div>
        </div>
    </div>

    <div id="movieContainer">
        <div class="movieInfoLeft">
            <div class="movieBanner">
                <a id="trailerLink" href="{{ movie.trailer }}" target="_blank">
                    <img src="{{ movie.image.url }}" alt="Movie Poster" class="moviePoster">
                </a>
            </div>
        </div>

        <div class="movieInfoRight">
            <h2>Synopsis</h2>
            <p>{{ movie.about }}</p>
            <p>Director: {{ movie.director }}</p>
            <p>Stars: {{ movie.movie_stars }}</p>
            <form id="bookTicketPage" action="{% url 'book_seat' movieName=movie %}" method="GET">
                <button type="submit" form="bookTicketPage" id="selectHall">Book Seats</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#trailerLink').click(function (e) {
                e.preventDefault();
                var trailerURL = $(this).attr('href');
                // Open the trailer URL in a new tab/window
                window.open(trailerURL, '_blank');
            });
        });
    </script>

    <style>
        #movieContainer {
            display: flex;
            align-items: flex-start;
            justify-content: space-between; /* Add space between left and right sections */
        }

        .movieInfoLeft {
            flex: 0 0 auto;
        }

        .movieInfoRight {
            flex: 1;
            padding-left: 100px;
        }

        .movieInfoRight h2 {
            margin-bottom: 10px;
        }

        .movieInfoRight p {
            margin-top: 0; /* Reset default margin */
        }

        .moviePoster {
            max-width: 300px;
            max-height: 400px;
        }
    </style>
{% endblock %}
